<div th:fragment="header" class="header" style="background: #FB4753;">
    <div class="section" style="align-items: center;">
        <div class="logo">
            <a href="/"><img src="/images/logo.svg" alt="logo"></a>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background: #FB4753; border: none; font-size: 13px">
                <span th:text="${nickname}">임직원 이름</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                    <a class="dropdown-item" href="#" onclick="document.getElementById('logout-form').submit();">로그아웃</a>
                    <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
