@import url("https://static.goodchoice.kr/static/ui/icon/iconPack.css");
@import url("https://static.goodchoice.kr/fonts/jalnan/font.css");

@font-face {
  font-family: '나눔스퀘어_ac';
  src: url('fonts/NanumSquareOTF_acR.otf') format('opentype');
}

@font-face {
  font-family: '나눔스퀘어_bold';
  src: url('fonts/NanumSquareEB.otf') format('opentype');
}

:root {
  --point-color: #E22D39;
}

body {
  background-color:#f6f6f6;
  font-family:'나눔스퀘어_ac' !important;
  color:rgba(0,0,0,0.87);
  line-height:1.5;
  overflow: hidden;
}

.mt-5 {
  margin-right: 50px;
  margin-left: 50px;
}


th {
  border-radius: 1px 0px 0px 0px;
  border: 1px solid #F4F4F4;
  background-color:  rgba(241, 90, 89, 0.28) !important;
  text-align: center;
  vertical-align: middle;
}

td {
  border: 1px solid #F4F4F4;
  background-color: #FFF !important;
}

button {
  border: none;
  background: #fff;
  cursor: pointer;
  outline: 0;
}

.default-button {
  width: 130px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--point-color);
  background: #FFF;
  color: var(--point-color);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.225px;
}

a {
  text-decoration: none;

}

.bg-light {
  border-radius: 1px 0px 0px 0px;
  border: 1px solid #F4F4F4;
  background-color:  rgba(241, 90, 89, 0.28) !important;
  text-align: center;
  vertical-align: middle;
}


/*sub title 앞에 아이콘*/
.form-title img{
  width: 30px;
  height: auto;
  vertical-align: middle;
}

/*표 제목*/
.table_name {
  color: var(--point-color);
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.27px;
  margin-left: 5px;
}

/*가이드라인 박스*/
.guidebox {
  border: 1px solid #818181;
  padding: 10px 30px;
  line-height: 200%;
  margin-bottom: 1rem;
}

/*달력 관련 css*/
.icon-baseline-calendar_today-24px:before{
  content:"\e92b"
}

.icon-pack li{
  display:inline-block;
  width:60px;
  height:60px;
  margin-bottom:10px;
  text-align:center;
  font-size:30px;
  line-height:60px;
  background:rgba(0,0,0,0.12);
  cursor:pointer
}
.icon-pack li input{
  position:absolute;
  top:-9999px;
  left:0;
  opacity:0
}
[class^="icon-"],[class*=" icon-"]{
  font-family:'icomoon' !important;
  speak:none;
  font-style:normal;
  font-weight:normal;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

/*날짜선택을 위한 달력*/
.input-group-prepend{
  height:38px !important
}

.input-group-prepend{
  border:1px solid rgba(0,0,0,0.15);
  border-right:0;
  border-radius:.25rem 0 0 .25rem;
  background:#e9ecef;
  color:#495057;
  text-align:center
}

.input-group-prepend i{
  display:inline-block;
  position:relative;
  width:36px;
  font-size:16px;
  line-height:35px
}

/*에러페이지*/
.error-page {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.error-page p {
  margin-bottom: 5px;
  font-size: 22px;
  color: rgba(0,0,0,0.87);
}

.error-page strong {
  display: block;
  font-size: 60px;
  margin-bottom: 30px;
}
.font-jalnan {
  font-family: 'yg-jalnan';
}
.text-warning {
  color: #fb3 !important;
}

.text-warning {
  color: #ffc107!important;
}

.error-page button {
  min-width: 140px;
  margin-top: 30px;
  font-size: 16px;
}

.btn-rounded {
  border-radius: 50px !important;
}

.btn-outline-secondary {
  border-color: #61738f;
  color: #61738f;
}

/*top에 있는 로그인 사용자 부분 버튼화한 것*/
.btn {
  display: inline-block;
  padding: 9px 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
}

/*표 제목 디자인*/
.form-title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

/*표 안 텍스트 위치설정*/
.text-center{
  text-align:center;
  vertical-align: middle;
}

/* detail-template-style */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px; /* 각 셀 사이의 간격 */
  width: 100%; /* 부모 요소에 대한 높이를 100%로 설정하여 전체 화면을 채우도록 함 */
  height: 100%; /* 부모 요소에 대한 높이를 100%로 설정하여 전체 화면을 채우도록 함 */
}

.grid-container .section {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column; /* 섹션을 수직으로 정렬하기 위해 column으로 설정 */
}

.overflow-scroll {
  overflow-y: auto; /* 수직 스크롤을 활성화합니다. */
}

h2 {
  font-size: 16px; /* 원하는 크기로 조정합니다. */
  font-weight: bold; /* 텍스트를 볼드로 처리합니다. */
}

/* 체크박스 스타일링 */
input[type="checkbox"] {
  transform: scale(1.5); /* 체크박스 크기 키우기 */
  margin-right: 10px; /* 체크박스와 라벨 사이의 간격 조절 */
}

/* 수정 모달 레이어 스타일 */
.modal {
  display: none; /* 기본적으로 모달은 숨김 */
  position: fixed; /* 화면에 고정 */
  z-index: 1; /* 다른 요소들보다 위에 위치 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* 스크롤바 허용 */
  background-color: rgba(0, 0, 0, 0.4); /* 배경 색상과 투명도 설정 */
}

.modal-content {
  background-color: #fefefe; /* 모달 내부 콘텐츠 배경색 */
  margin: 10% auto; /* 모달을 수직 가운데로 정렬 */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* 모달 너비 */
  height: 80%; /* 세로 길이를 두 배로 늘립니다. */
}

.close {
  color: #aaa;
  margin-left: auto;
  margin-top: -20px; /* X 버튼을 위로 조금 이동시킵니다. */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  margin-bottom: 20px;
}

.modal-table {
  width: 100%;
  height: 100%;
}

.modal-table .td {
  padding: 10px;
}

.modal-button {
  display: block; /* 블록 레벨 요소로 변경하여 중앙 정렬 */
  margin: 20px auto 0; /* 버튼을 상단 여백을 둔 채 가운데로 정렬합니다. */
  padding: 10px 20px;
  background-color: #ff3333; /* 버튼 배경색 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/*파일 업로드*/
#root {
  width: 100%;
  height: 100%;
}

.contents {
  display: flex;
  flex-direction: column;
}
.contents .upload-box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents .upload-box .drag-file {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #dbdbdb;
}
.contents .upload-box .drag-file.highlight {
  border: 3px dashed red;
}
.contents .upload-box .drag-file .image {
  margin-top: 10px;
  width: 40px;
}
.contents .upload-box .drag-file .message {
  /* margin-bottom: 0; */
}
.contents .upload-box .file-label {
  margin-top: 10px;
  margin-left: auto;
  background-color: #4f4f4f;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 20%;
  border-radius: 6px;
  cursor: pointer;
}
.contents .upload-box .file {
  display: none;
}

.contents .files {
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  height: 30%;
}
.contents .files .file {
  display: flex;
  padding: 10px 10px;
  border-bottom: 1px solid #dbdbdb;
}
.contents .files .file:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}

.contents .files .file .thumbnail {
  display: flex;
  flex: none;
  width: 100px;
  align-items: center;
}

.contents .files .file .details {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contents .files .file .details .header {
  display: flex;
}
.contents .files .file .details .header .name {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.contents .files .file .details .header .size {
  margin-left: auto;
  margin-right: 30px;
}