<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>각 세부항목</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <th:block th:replace="fragments/head :: common-head"></th:block>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main class="d-flex flex-nowrap">
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <div class="content p-4 main-contents">
        <p class="table_name" style="display: flex; align-items: center; margin-right: auto;" th:text="${detailItemTypeName}"> 세부 항목 이름</p>
        <div style="display: flex; align-items: center; margin-left: auto;">
            <input type="checkbox" id="status-completion" name="status-completion">
            <label for="status-completion">작성 완료</label>
        </div>

        <div class="grid-container">
            <!-- 섹션 2: 인증 항목 내용 -->
            <div class="section" style="grid-column: 1; grid-row: 1; width: 100%; height: 100%; overflow-y: auto;">
                <div style="display: flex; align-items: center;">
                    <h2>인증 항목 내용</h2>
                    <button type="button" class="default-button btn-primary d-block ml-auto" style="margin-left: auto;"
                            th:each="certifContent : ${certifContents}"
                            th:attr="data-certification-standard=${certifContent.certificationCriteria},
                                     data-major-points=${certifContent.keyCheckpoints},
                                     data-related-laws=${certifContent.relevantLaws},
                                     data-modification-date=${certifContent.updatedAt},
                                     data-modifier=${certifContent.modifier},
                                     id='editButton-' + ${certifContent.sequence}"
                            onclick="openModal('editModal-certification', this.id)">수정</button>
                </div>
                <div id="certification-details" style="height: 100%;">
                    <!-- 인증 항목 기준 및 관련 내용 표 -->
                    <table border="1" style="width: 100%; height: 100%;">
                        <tr style="height: 20%;">
                            <th style="width: 20%;">구분</th>
                            <th style="width: 80%;">내용</th>
                        </tr>
                        <tr th:each="certifContent : ${certifContents}">
                            <th>인증기준</th>
                            <td th:text="${certifContent.certificationCriteria}"></td>
                        </tr>
                        <tr th:each="certifContent : ${certifContents}">
                            <th>주요 확인사항</th>
                            <td th:text="${certifContent.keyCheckpoints}"></td>
                        </tr>
                        <tr th:each="certifContent : ${certifContents}">
                            <th>관련 법규</th>
                            <td th:text="${certifContent.relevantLaws}"></td>
                        </tr>
                    </table>
                </div>
            </div>


            <!-- 인증 항목 내용 모달 레이어 -->
            <div id="editModal-certification" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal('editModal-certification')">&times;</span>
                    <h2 class="modal-title" style="font-size: 30px; font-weight: bold;">인증항목 내용 수정</h2>
                    <form id="editForm-certification" style="width: 100%; height: 100%">
                        <table class="modal-table">
                            <tr style="height: 10%">
                                <th style="width: 20%; text-align: right;"><label for="modificationDate1">일시</label></th>
                                <td><input type="text" id="modificationDate1" style="width: 100%; height: 100%" readonly></td>
                            </tr>
                            <tr style="height: 10%">
                                <th style="width: 20%; text-align: right;"><label for="modifier1">변경자</label></th>
                                <td><input type="text" id="modifier1" style="width: 100%; height: 100%" readonly></td>
                            </tr>
                            <tr style="height: 30%">
                                <th style="width: 20%; text-align: right;"><label for="certificationStandard">인증기준</label></th>
                                <td colspan="2"><textarea id="certificationStandard" name="certificationStandard" style="width: 100%; height: 100%" required></textarea></td>
                            </tr>
                            <tr style="height: 40%">
                                <th style="width: 20%; text-align: right;"><label for="majorPoints">주요 확인사항</label></th>
                                <td colspan="2"><textarea id="majorPoints" name="majorPoints" style="width: 100%; height: 100%" required></textarea></td>
                            </tr>
                            <tr style="height: 10%">
                                <th style="width: 20%; text-align: right;"><label for="relatedLaws">관련 법규</label></th>
                                <td colspan="2"><textarea id="relatedLaws" name="relatedLaws" style="width: 100%; height: 100%" required></textarea></td>
                            </tr>
                        </table>
                        <button type="button" id="modal-button-certification" onclick="saveChangesCertification()" class="modal-button">등록하기</button>
                    </form>
                </div>
            </div>

            <!-- 섹션 3: 운영 현황 -->
            <div class="section" style="grid-column: 2; grid-row: 1; width: 100%; height: 100%; overflow-y: auto;">
                <div style="display: flex; align-items: center;">
                    <h2>운영 현황</h2>
                    <button type="button" class="default-button btn-primary d-block ml-auto" style="margin-left: auto;"
                            th:each="operationalStatus : ${operationalStatuses}"
                            th:attr="data-status=${operationalStatus.status},
                               data-related-document=${operationalStatus.relatedDocument},
                               data-evidence-name=${operationalStatus.evidenceName},
                               data-modification-date=${operationalStatus.updatedAt},
                               data-modifier=${operationalStatus.modifier},
                               id='editButton-operational-' + ${operationalStatus.sequence}"
                            onclick="openModal('editModal-operational', this.id)">수정</button>
                </div>
                <div id="operational-status" style="height: 100%;">
                    <!-- 운영 현황 표 -->
                    <table border="1" style="width: 100%; height: 100%;">
                        <tr style="height: 20%;">
                            <th style="width: 50%;">현황</th>
                            <th style="width: 20%;">관련 문서</th>
                            <th style="width: 30%;">증적</th>
                        </tr>
                        <tr th:each="operationalStatus : ${operationalStatuses}">
                            <td th:text="${operationalStatus.status}"></td>
                            <td th:text="${operationalStatus.relatedDocument}"></td>
                            <td th:text="${operationalStatus.evidenceName}"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- 운영 현황 모달 레이어 -->
            <div id="editModal-operational" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal('editModal-operational')">&times;</span>
                    <h2 class="modal-title" style="font-size: 30px; font-weight: bold;">운영 현황 수정</h2>
                    <form id="editForm-operational" style="width: 100%; height: 100%">
                        <table class="modal-table">
                            <tr style="height: 10%">
                                <th style="width: 20%; text-align: right;"><label for="modificationDate2">일시</label></th>
                                <td><input type="text" id="modificationDate2" style="width: 100%; height: 100%" readonly></td>
                            </tr>
                            <tr style="height: 10%">
                                <th style="width: 20%; text-align: right;"><label for="modifier2">변경자</label></th>
                                <td><input type="text" id="modifier2" style="width: 100%; height: 100%" readonly></td>
                            </tr>
                            <tr style="height: 60%">
                                <th style="width: 20%; text-align: right;"><label for="currentSituation">현황</label></th>
                                <td colspan="2"><textarea id="currentSituation" name="currentSituation" style="width: 100%; height: 100%" required></textarea></td>
                            </tr>
                            <tr style="height: 10%">
                                <th style="width: 20%; text-align: right;"><label for="documentName">문서명</label></th>
                                <td colspan="2"><textarea id="documentName" name="documentName" style="width: 100%; height: 100%" required></textarea></td>
                            </tr>
                            <tr style="height: 10%">
                                <th style="width: 20%; text-align: right;"><label for="evidenceName">증적명</label></th>
                                <td colspan="2"><textarea id="evidenceName" name="evidenceName" style="width: 100%; height: 100%" required></textarea></td>
                            </tr>
                        </table>
                        <button type="button" id="modal-button-operational" onclick="saveChangesOperational()" class="modal-button">등록하기</button>
                    </form>
                </div>
            </div>

            <!-- 섹션 4: 증적자료 -->
            <div class="section" style="grid-column: 1; grid-row: 2; width: 100%; height: 100%; overflow-y: auto;">
                <div style="display: flex; align-items: center;">
                    <h2>증적자료</h2>
                    <button type="button" class="default-button btn-primary d-block ml-auto" style="margin-left: auto;" onclick="openModal('editModal-proof')">수정</button>
                </div>
                <div id="proof-upload" style="height: 100%;">

                    <div id="uploaded-files" class="files">
                        <!-- 여기에 업로드된 파일 목록이 표시됩니다. -->

                    </div>

                </div>
            </div>

            <!-- 증적자료 모달 레이어 -->
            <div id="editModal-proof" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal('editModal-proof')">&times;</span>
                    <h2 class="modal-title" style="font-size: 30px; font-weight: bold;">증적자료 업로드</h2>
                    <form id="editForm-proof" style="width: 100%; height: 100%" enctype="multipart/form-data">
                        <table class="modal-table">
                            <tr style="height: 10%">
                                <th style="width: 20%; text-align: right;"><label for="modificationDate3">일시</label></th>
                                <td><input type="text" id="modificationDate3" style="width: 100%; height: 100%" readonly></td>
                            </tr>
                            <tr style="height: 10%">
                                <th style="width: 20%; text-align: right;"><label for="modifier3">변경자</label></th>
                                <td><input type="text" id="modifier3" style="width: 100%; height: 100%" readonly></td>
                            </tr>
                            <tr style="height: 80%">
                                <th style="width: 20%; text-align: right;"><label for="drop-file">파일 선택</label></th>
                                <td>

                                    <div id="root">
                                        <div class="contents">
                                            <div class="upload-box">
                                                <div id="drop-file" class="drag-file">
                                                    <img src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일 아이콘" class="image">
                                                    <p class="message">Drag files to upload</p>
                                                </div>
                                                <label class="file-label" for="chooseFile">파일 선택</label>
                                                <input class="file" id="chooseFile" type="file" multiple onchange="dropFile.handleFiles(this.files)">
                                            </div>
                                            <div id="files" class="files">
                                                <div class="file">
                                                    <div class="header">
                                                        <span class="name"></span>
                                                        <span class="size"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </table>
                        <button type="submit" id="modal-button-proof" class="modal-button">등록하기</button>
                    </form>
                </div>
            </div>

            <!-- 증적자료 업로드 -->
            <script th:src="@{/js/upload.js}"></script>

            <!-- 섹션 5: 결함 관리 -->
            <div class="section" style="grid-column: 2; grid-row: 2; width: 100%; height: 100%; overflow-y: auto;">
                <div style="display: flex; align-items: center;">
                    <h2>결함 관리</h2>
                    <button type="button" class="default-button btn-primary d-block ml-auto" style="margin-left: auto;" onclick="openModal('editModal-defects', 'selected-defect')">수정</button>
                </div>
                <div id="defects-management" style="height: 100%;">
                    <!-- 결함 관리 표 -->
                    <table border="1" style="width: 100%; height: 100%;">
                        <tr style="height: 20%;">
                            <th style="width: 20%;">구분</th>
                            <th style="width: 80%;">결함 내용</th>
                        </tr>
                        <tr th:each="defectManage : ${defectManages}">
                            <th>ISMS-P</th>
                            <td th:text="${defectManage.ismsP}"
                                th:attr="data-isms-p=${defectManage.ismsP},
                             data-iso-27k=${defectManage.iso27k},
                             data-pci-dss=${defectManage.pciDss},
                             data-modification-date=${defectManage.updatedAt},
                             data-modifier=${defectManage.modifier}"></td>
                        </tr>
                        <tr th:each="defectManage : ${defectManages}">
                            <th>ISO 27K</th>
                            <td th:text="${defectManage.iso27k}"
                                th:attr="data-isms-p=${defectManage.ismsP},
                             data-iso-27k=${defectManage.iso27k},
                             data-pci-dss=${defectManage.pciDss},
                             data-modification-date=${defectManage.updatedAt},
                             data-modifier=${defectManage.modifier}"></td>
                        </tr>
                        <tr th:each="defectManage : ${defectManages}">
                            <th>PCI-DSS</th>
                            <td th:text="${defectManage.pciDss}"
                                th:attr="data-isms-p=${defectManage.ismsP},
                             data-iso-27k=${defectManage.iso27k},
                             data-pci-dss=${defectManage.pciDss},
                             data-modification-date=${defectManage.updatedAt},
                             data-modifier=${defectManage.modifier}"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- 결함 관리 모달 레이어 -->
            <div id="editModal-defects" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal('editModal-defects')">&times;</span>
                    <h2 class="modal-title" style="font-size: 30px; font-weight: bold;">결함 관리 수정</h2>
                    <form id="editForm-defects" style="width: 100%; height: 100%">
                        <table class="modal-table">
                            <tr style="height: 10%">
                                <th style="width: 20%; text-align: right;"><label for="modificationDate4">일시</label></th>
                                <td><input type="text" id="modificationDate4" style="width: 100%; height: 100%" readonly></td>
                            </tr>
                            <tr style="height: 10%">
                                <th style="width: 20%; text-align: right;"><label for="modifier4">변경자</label></th>
                                <td><input type="text" id="modifier4" style="width: 100%; height: 100%" readonly></td>
                            </tr>
                            <tr style="height: 10%">
                                <th style="width: 20%; text-align: right;"><label for="certificationType">인증 구분</label></th>
                                <td>
                                    <select id="certificationType" name="certificationType" style="width: 100%; height: 100%">
                                        <option value="ISMS-P">ISMS-P</option>
                                        <option value="ISO 27K">ISO 27K</option>
                                        <option value="PCI-DSS">PCI-DSS</option>
                                        <!-- 다른 인증 구분 추가 -->
                                    </select>
                                </td>
                            </tr>
                            <tr style="height: 80%">
                                <th style="width: 20%; text-align: right;"><label for="defectContent">결함 내용</label></th>
                                <td colspan="2"><textarea id="defectContent" name="defectContent" style="width: 100%; height: 100%" required></textarea></td>
                            </tr>
                        </table>
                        <button type="button" id="modal-button-defects" onclick="saveChangesDefects()" class="modal-button">등록하기</button>
                    </form>
                </div>
            </div>







            <script th:src="@{/js/script.js}"></script>

        </div>
    </div>
</main>
<!--<div th:replace="fragments/footer :: footer"></div>-->
</body>
</html>
