<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>메인 페이지</title>
  <th:block th:replace="fragments/head :: common-head"></th:block>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <script src="/js/modal.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    $(document).ready(function () {
      // CSRF 토큰 설정
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      $(document).ajaxSend(function (e, xhr, options) {
        xhr.setRequestHeader(header, token);
      });

      $(".search-button").hover(
              function () {
                $(this).css({
                  "border-color": "white",
                  "color": "white",
                  "background-color": "red"
                });
              },
              function () {
                $(this).css({
                  "border-color": "red",
                  "color": "red",
                  "background-color": "transparent"
                });
              }
      );

      $(document).ready(function () {
        var latestYear = [[${latestYear}]]; // 서버에서 전달된 최근 인증년도
        $("#datepicker").val(latestYear); // 초기값 설정
        updateGraphs(latestYear); // 페이지 로드 시 최신 연도 데이터 로드

        $("#datepicker").datepicker({
          changeMonth: false,
          changeDay: false,
          changeYear: true,
          showButtonPanel: true,
          dateFormat: 'yy',
          yearRange: "c-10:c+10",
          onClose: function (dateText, inst) {
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).val(year);
            updateGraphs(year); // 연도 선택 시 그래프 업데이트
          },
          beforeShow: function (input, inst) {
            if ((datestr = $(this).val()).length > 0) {
              year = datestr.substring(datestr.length - 4, datestr.length);
              $(this).datepicker('option', 'defaultDate', new Date(year, 1, 1));
              $(this).datepicker('setDate', new Date(year, 1, 1));
            }
            $(this).datepicker('widget').addClass('hide-calendar');
            $(".ui-datepicker-calendar").hide();
            $(".ui-datepicker-month").hide();
          }
        });
      });

      // Add custom style to hide calendar and month selector
      $("<style>")
              .prop("type", "text/css")
              .html(".hide-calendar .ui-datepicker-calendar, .hide-calendar .ui-datepicker-month { display: none !important; }")
              .appendTo("head");

      $("#search-button").click(function () {
        var selectedYear = $("#datepicker").val();  // datepicker의 값을 가져옴
        updateGraphs(selectedYear);  // 선택된 연도에 따라 그래프 업데이트
      });

      $("#reset-year-button").click(function () {
        $("#firstModal").css("display", "block");
      });

      $(".close-main").click(function () {
        $(".modal-main").css("display", "none");
      });

      $("#firstModal .modal-button-main").click(function () {
        var password = $("#firstModal .modal-input").val();

        $.ajax({
          url: "/verify-password",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify({ password: password }),
          success: function (response) {
            $("#firstModal").css("display", "none");
            $("#secondModal").css("display", "block");
          },
          error: function (xhr) {
            alert("비밀번호가 일치하지 않습니다.");
          }
        });
      });

      $("#secondModal .proceed-button").click(function () {
        alert("잠시만 기다려주세요.");
        $(".modal-main").css("display", "none");
      });

      $("#secondModal .cancel-button").click(function () {
        $(".modal-main").css("display", "none");
      });
    });

    // 그래프 업데이트 함수
    function updateGraphs(selectedYear) {
      $.ajax({
        url: '/updateGraphs',
        method: 'GET',
        data: {
          year: selectedYear
        },
        success: function (response) {
          // 도넛 그래프 업데이트
          updateDonutCharts(response.manageCompleted, response.privacyCompleted, response.protectCompleted);

          // 선 그래프 업데이트
          updateLineGraph(response.monthlyIndexInfo, response.monthlyCompletedBySCCode);
        },
        error: function (error) {
          console.log("Error fetching data:", error);
        }
      });
    }

    function updateDonutCharts(manageData, privacyData, protectData) {
      // Manage 데이터 업데이트
      document.getElementById("manageProgressCount").textContent = manageData.completedCount + '/' + manageData.totalCount;
      document.getElementById("manageProgressLabel").textContent = manageData.percentage + '%';

      // Protect 데이터 업데이트
      document.getElementById("protectProgressCount").textContent = protectData.completedCount + '/' + protectData.totalCount;
      document.getElementById("protectProgressLabel").textContent = protectData.percentage + '%';

      // Privacy 데이터 업데이트
      document.getElementById("privacyProgressCount").textContent = privacyData.completedCount + '/' + privacyData.totalCount;
      document.getElementById("privacyProgressLabel").textContent = privacyData.percentage + '%';

      // 도넛 그래프 데이터 설정
      manageChart.data.datasets[0].data = [manageData.percentage, 100 - manageData.percentage];
      manageChart.update();

      protectChart.data.datasets[0].data = [protectData.percentage, 100 - protectData.percentage];
      protectChart.update();

      privacyChart.data.datasets[0].data = [privacyData.percentage, 100 - privacyData.percentage];
      privacyChart.update();
    }

    function updateLineGraph(monthlyIndexInfo, monthlyCompletedBySCCode) {
      const sortedLabels = [];
      const sortedManageData = [];
      const sortedPrivacyData = [];
      const sortedProtectData = [];

      // "certificationYear"와 "CreatedAt"을 제외한 키들을 정렬
      const sortedIndexes = Object.keys(monthlyIndexInfo)
              .filter(key => key !== 'certificationYear' && key !== 'createdAt')
              .sort((a, b) => monthlyIndexInfo[a] - monthlyIndexInfo[b]);

      // 각 카테고리의 최대값
      const maxManage = 16;  // 관리체계의 최대값
      const maxProtect = 64; // 보호대책의 최대값
      const maxPrivacy = 21; // 개인정보보호의 최대값

      sortedIndexes.forEach(month => {
        sortedLabels.push(month); // 인덱스에 대응하는 월을 그대로 라벨로 사용

        // 데이터를 비율로 변환 (각각의 최대값에 대한 비율로)
        sortedManageData.push((monthlyCompletedBySCCode.MANAGE[monthlyIndexInfo[month]] || 0) / maxManage * 100);
        sortedProtectData.push((monthlyCompletedBySCCode.PROTECT[monthlyIndexInfo[month]] || 0) / maxProtect * 100);
        sortedPrivacyData.push((monthlyCompletedBySCCode.PRIVACY[monthlyIndexInfo[month]] || 0) / maxPrivacy * 100);
      });

      // 라인 그래프 데이터 설정
      monthlyProgressChart.data.labels = sortedLabels;
      monthlyProgressChart.data.datasets[0].data = sortedManageData;
      monthlyProgressChart.data.datasets[1].data = sortedProtectData;
      monthlyProgressChart.data.datasets[2].data = sortedPrivacyData;
      monthlyProgressChart.update();
    }

    // 도넛 그래프 초기화
    var manageChart, protectChart, privacyChart, monthlyProgressChart;

    document.addEventListener('DOMContentLoaded', function () {
      function createDoughnutChart(ctx, data, title) {
        return new Chart(ctx, {
          type: 'doughnut',
          data: data,
          options: {
            cutout: 80,
            plugins: {
              title: {
                display: true,
                text: title,
                font: {
                  size: 16
                }
              },
              legend: {
                position: 'bottom'
              }
            },
            animation: false
          }
        });
      }

      manageChart = createDoughnutChart(document.getElementById('manageChart').getContext('2d'), {
        labels: ['진행율', '미진행율'],
        datasets: [{
          label: '관리체제 수립 및 운영',
          data: [0, 100],  // 초기값 0%로 설정
          backgroundColor: ['rgb(255, 99, 132)', 'rgb(141,138,138)'],
          hoverOffset: 4,
        }]
      }, '관리체제 수립 및 운영');

      protectChart = createDoughnutChart(document.getElementById('protectChart').getContext('2d'), {
        labels: ['진행율', '미진행율'],
        datasets: [{
          label: '보호대책 요구사항',
          data: [0, 100],  // 초기값 0%로 설정
          backgroundColor: ['rgb(255, 205, 86)', 'rgb(141,138,138)'],
          hoverOffset: 4
        }]
      }, '보호대책 요구사항');

      privacyChart = createDoughnutChart(document.getElementById('privacyChart').getContext('2d'), {
        labels: ['진행율', '미진행율'],
        datasets: [{
          label: '개인정보 처리단계별 요구사항',
          data: [0, 100],  // 초기값 0%로 설정
          backgroundColor: ['rgb(149,239,131)', 'rgb(141,138,138)'],
          hoverOffset: 4
        }]
      }, '개인정보 처리단계별 요구사항');

      const lineCtx = document.getElementById('monthlyProgressChart').getContext('2d');
      const labels = ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'];
      const lineData = {
        labels: labels,
        datasets: [{
          label: '관리체계',
          data: [],  // 비율로 변환된 데이터
          fill: false,
          borderColor: 'rgb(252,4,49)',
          tension: 0.1,
          yAxisID: 'y' // 공통 Y축 사용
        },
          {
            label: '보호대책',
            data: [],  // 비율로 변환된 데이터
            fill: false,
            borderColor: 'rgb(255,218,75)',
            tension: 0.1,
            yAxisID: 'y' // 공통 Y축 사용
          },
          {
            label: '개인정보보호',
            data: [],  // 비율로 변환된 데이터
            fill: false,
            borderColor: 'rgb(109,189,14)',
            tension: 0.1,
            yAxisID: 'y' // 공통 Y축 사용
          }
        ]
      };

      monthlyProgressChart = new Chart(lineCtx, {
        type: 'line',
        data: lineData,
        options: {
          maintainAspectRatio: false,
          scales: {
            y: { // 공통 Y축
              type: 'linear',
              position: 'left',
              min: 0,
              max: 100,  // Y축을 100%로 설정
              ticks: {
                stepSize: 20,
                callback: function(value) {
                  return value + '%'; // 비율 표시
                }
              }
            }
          },
          plugins: {
            title: {
              display: true,
              text: '월간 인증 진척률 추이',
              font: {
                size: 24,
              },
              color: "red"
            },
            legend: {
              display: false
            }
          },
          animation: false
        }
      });

    });
  </script>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main class="d-flex flex-nowrap">
  <div th:replace="fragments/sidebar :: sidebar"></div>
  <div class="content p-4 main-contents" style="overflow-y: scroll">
    <div class="header-container">
      <h1 style="color: red; font-size: 24px; justify-content: center; align-items: center;">Dash Board</h1>
    </div>
    <div id="datepicker-container">
      <button id="reset-year-button" class="search-button" type="button" style="justify-content: flex-start; text-align: left; margin-right: 700px">인증년도 초기화</button>
      <i class="fas fa-calendar-alt" style="margin-right: 5px; width: 23px; height: 23px;"></i>
      <input type="text" id="datepicker">
      <button id="search-button" class="search-button" type="button">검색</button>
    </div>

    <div style="display: flex; flex-wrap: wrap; justify-content: space-between; max-width: 100%;">
      <!-- 첫 번째 도넛 그래프 -->
      <div class="chart-container" style="flex-basis: calc(33.33% - 1px); margin-bottom: 20px;">
        <canvas id="manageChart"></canvas>
        <div class="progress-info">
          <div class="progress-title" style="font-size: 12px;">진행현황</div>
          <div class="progress-count" id="manageProgressCount"></div> <!-- Manage Count ID -->
          <div class="progress-label" id="manageProgressLabel"></div> <!-- Manage Label ID -->
        </div>
      </div>

      <!-- 두 번째 도넛 그래프 (보호대책 요구사항) -->
      <div class="chart-container" style="flex-basis: calc(33.33% - 1px); margin-bottom: 20px;">
        <canvas id="protectChart"></canvas>
        <div class="progress-info">
          <div class="progress-title" style="font-size: 12px;">진행현황</div>
          <div class="progress-count" id="protectProgressCount"></div> <!-- Protect Count ID -->
          <div class="progress-label" id="protectProgressLabel"></div> <!-- Protect Label ID -->
        </div>
      </div>

      <!-- 세 번째 도넛 그래프 (개인정보 처리단계별 요구사항) -->
      <div class="chart-container" style="flex-basis: calc(33.33% - 1px); margin-bottom: 20px;">
        <canvas id="privacyChart"></canvas>
        <div class="progress-info">
          <div class="progress-title" style="font-size: 12px;">진행현황</div>
          <div class="progress-count" id="privacyProgressCount"></div> <!-- Privacy Count ID -->
          <div class="progress-label" id="privacyProgressLabel"></div> <!-- Privacy Label ID -->
        </div>
      </div>

      <!-- 선 그래프 -->
      <div class="line-chart-container chart-container" style="flex-basis: 100%; margin-top: 30px;">
        <canvas id="monthlyProgressChart"></canvas> <!-- Monthly Progress Chart ID -->
      </div>

    </div>

      <!-- 첫 번째 모달 -->
      <div id="firstModal" class="modal-main">
        <div class="modal-content-main">
          <span class="close-main">&times;</span>
          <div class="modal-title-main">본인 확인</div>
          <div class="input-title">로그인 비밀번호</div>
          <input type="password" class="modal-input" placeholder="로그인 비밀번호 입력">
          <button class="modal-button-main">진행하기</button>
        </div>
      </div>

      <!-- 두 번째 모달 -->
      <div id="secondModal" class="modal-main">
        <div class="modal-content-main">
          <span class="close-main">&times;</span>
          <div class="modal-title-main">
            다음 단계 진행 시 지금까지 작성하신 <span class="warning-text">인증 현황 및 증적이 초기화</span>되며, <br> 기준년도가 <span class="warning-text">다음 인증년도로 변경</span>되게 됩니다.<br> 그래도 초기화 하시겠습니까?
          </div>
          <div class="modal-checkbox-label" style="text-align: center; justify-content: center;">
            <input type="checkbox" id="confirm-reset" style="margin-right: 10px;">
            <label for="confirm-reset">네. 초기화 하겠습니다.</label>
          </div>
          <div class="modal-footer">
            <button class="proceed-button" id="proceed-button" disabled>진행하기</button>
            <button class="cancel-button">취소하기</button>
          </div>
        </div>
      </div>

      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var checkbox = document.getElementById('confirm-reset');
          var proceedButton = document.getElementById('proceed-button');

          checkbox.addEventListener('change', function () {
            proceedButton.disabled = !checkbox.checked;
          });

          document.getElementById('proceed-button').addEventListener('click', function() {
            // 진행하기 버튼 클릭 시 AJAX 요청 전송
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            fetch('/api/initializeData', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                [header]: token
              }
            })
                    .then(response => {
                      if (response.ok) {
                        alert('데이터 초기화가 성공적으로 완료되었습니다.');
                        // 필요에 따라 페이지를 리로드하거나 모달을 닫는 동작 추가
                        document.getElementById('secondModal').style.display = 'none';
                      } else {
                        alert('데이터 초기화 중 오류가 발생했습니다.');
                      }
                    })
                    .catch(error => {
                      console.error('Error:', error);
                      alert('데이터 초기화 중 오류가 발생했습니다.');
                    });
          });

          document.querySelector('.cancel-button').addEventListener('click', function() {
            document.getElementById('secondModal').style.display = 'none';
          });

          document.querySelector('.close-main').addEventListener('click', function() {
            document.getElementById('secondModal').style.display = 'none';
          });
        });
      </script>


    </div>
</main>
</body>
</html>
