<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>메인 페이지</title>
  <th:block th:replace="fragments/head :: common-head"></th:block>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <script src="/static/js/modal.js"></script>
  <script>
    $(function() {
      $(".search-button").hover(
              function() {
                // 마우스 오버 시
                $(this).css({
                  "border-color": "white",
                  "color": "white",
                  "background-color": "red"
                });
              },
              function() {
                // 마우스 아웃 시
                $(this).css({
                  "border-color": "red",
                  "color": "red",
                  "background-color": "transparent"
                });
              }
      );
    });


    $(function () {
      $("#datepicker").datepicker({
        changeMonth: false, // 월 선택 비활성화
        changeDay: false, // 일 선택 비활성화
        changeYear: true, // 연도 선택 활성화
        showButtonPanel: true, // 버튼 패널 표시
        dateFormat: 'yy', // 연도 형식 설정
        yearRange: "c-10:c+10", // 연도 범위 설정 (현재 연도 기준 -10년에서 +10년)
        onClose: function(dateText, inst) {
          var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
          $(this).val(year);
        },
        beforeShow: function(input, inst) {
          if ((datestr = $(this).val()).length > 0) {
            year = datestr.substring(datestr.length - 4, datestr.length);
            $(this).datepicker('option', 'defaultDate', new Date(year, 1, 1));
            $(this).datepicker('setDate', new Date(year, 1, 1));
          }
          $(this).datepicker('widget').addClass('hide-calendar');
          $(".ui-datepicker-calendar").hide();
          $(".ui-datepicker-month").hide();
        }
      });

      // Add custom style to hide calendar and month selector
      $("<style>")
              .prop("type", "text/css")
              .html("\
        .hide-calendar .ui-datepicker-calendar, .hide-calendar .ui-datepicker-month { display: none !important; }")
              .appendTo("head");
    });

    $(function () {
      $("#search-button").click(function () {
        $("#datepicker").datepicker("show");
      });
    });

    $(document).ready(function() {
      $("#reset-year-button").click(function() {
        $("#firstModal").css("display", "block");
      });

      $(".close-main").click(function() {
        $(".modal-main").css("display", "none");
      });

      $("#firstModal .modal-button-main").click(function() {
        $("#firstModal").css("display", "none");
        $("#secondModal").css("display", "block");
      });

      $("#secondModal .proceed-button").click(function() {
        alert("초기화 되었습니다.");
        $(".modal-main").css("display", "none");
      });

      $("#secondModal .cancel-button").click(function() {
        $(".modal-main").css("display", "none");
      });
    });

  </script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main class="d-flex flex-nowrap">
  <div th:replace="fragments/sidebar :: sidebar"></div>
  <div class="content p-4 main-contents" style="overflow-y: scroll">
    <div class="header-container">
      <h1 style="color: red; font-size: 24px; justify-content: center; align-items: center;">Dash Board</h1>
    </div>
    <div id="datepicker-container">
      <button id="reset-year-button" class="search-button" type="button" style="justify-content: flex-start; text-align: left; margin-right: 700px">인증년도 초기화</button>
      <i class="fas fa-calendar-alt" style="margin-right: 5px; width: 23px; height: 23px;"></i>
      <input type="text" id="datepicker">
      <button id="search-button" class="search-button" type="button">검색</button>
    </div>

    <div style="display: flex; flex-wrap: wrap; justify-content: space-between; max-width: 100%;">

      <!-- 첫 번째 도넛 그래프 -->
      <div class="chart-container" style="flex-basis: calc(33.33% - 20px); margin-bottom: 20px;">
        <canvas id="myChart1"></canvas>
        <div class="progress-info">
          <div class="progress-title">진행현황</div>
          <div class="progress-count">8/10</div>
          <div class="progress-label">80%</div>
        </div>
      </div>

      <!-- 두 번째 도넛 그래프 -->
      <div class="chart-container" style="flex-basis: calc(33.33% - 20px); margin-bottom: 20px;">
        <canvas id="myChart2"></canvas>
        <div class="progress-info">
          <div class="progress-title">진행현황</div>
          <div class="progress-count">9/10</div>
          <div class="progress-label">90%</div>
        </div>
      </div>

      <!-- 세 번째 도넛 그래프 -->
      <div class="chart-container" style="flex-basis: calc(33.33% - 20px); margin-bottom: 20px;">
        <canvas id="myChart3"></canvas>
        <div class="progress-info">
          <div class="progress-title">진행현황</div>
          <div class="progress-count">7/10</div>
          <div class="progress-label">72%</div>
        </div>

      </div>

      <!-- 선 그래프 -->
      <div class="line-chart-container chart-container" style="flex-basis: 100%; margin-top: 50px;">
        <canvas id="myLineChart"></canvas>
      </div>

      <!-- 첫 번째 모달 -->
      <div id="firstModal" class="modal-main">
        <div class="modal-content-main">
          <span class="close-main">&times;</span>
          <div class="modal-title-main">본인 확인</div>
          <div class="input-title">로그인 비밀번호</div>
          <input type="password" class="modal-input" placeholder="로그인 비밀번호 입력">
          <button class="modal-button-main">진행하기</button>
        </div>
      </div>

      <!-- 두 번째 모달 -->
      <div id="secondModal" class="modal-main">
        <div class="modal-content-main">
          <span class="close-main">&times;</span>
          <div class="modal-title-main">다음 단계 진행 시 지금까지 작성하신 <span class="warning-text">인증 현황 및 증적이 초기화</span>되며, <br> 기준년도가 <span class="warning-text">다음 인증년도로 변경</span>되게 됩니다.<br> 그래도 초기화 하시겠습니까?</div>
          <div class="modal-checkbox-label" style="text-align: center; justify-content: center;">
            <input type="checkbox" id="confirm-reset" style="margin-right: 10px;">
            <label for="confirm-reset">네. 초기화 하겠습니다.</label>
          </div>
          <div class="modal-footer">
            <button class="proceed-button">진행하기</button>
            <button class="cancel-button">취소하기</button>
          </div>
        </div>
      </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const circle_data1 = {
          labels: [
            '진행율',
            '미진행율',
          ],
          datasets: [{
            label: '관리체제 수립 및 운영',
            data: [80, 20],
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(141,138,138)',
            ],
            hoverOffset: 4,
          }]
        };

        const circle_config1 = {
          type: 'doughnut',
          data: circle_data1,
          options: {
            cutout: 80,
            plugins: {
              title: {
                display: true,
                text: '관리체제 수립 및 운영',
                font: {
                  size: 16
                }
              },
              legend: {
                position: 'bottom'
              }
            },
            animation: false
          }
        };

        const circle_data2 = {
          labels: [
            '진행율',
            '미진행율',
          ],
          datasets: [{
            label: '보호대책 요구사항',
            data: [90, 10],
            backgroundColor: [
              'rgb(255, 205, 86)',
              'rgb(141,138,138)',
            ],
            hoverOffset: 4
          }]
        };

        const circle_config2 = {
          type: 'doughnut',
          data: circle_data2,
          options: {
            cutout: 80,
            plugins: {
              title: {
                display: true,
                text: '보호대책 요구사항',
                font: {
                  size: 16
                }
              },
              legend: {
                position: 'bottom'
              }
            },
            animation: false
          }
        };

        const circle_data3 = {
          labels: [
            '진행율',
            '미진행율',
          ],
          datasets: [{
            label: '개인정보 처리단계별 요구사항',
            data: [72, 28],
            backgroundColor: [
              'rgb(149,239,131)',
              'rgb(141,138,138)',
            ],
            hoverOffset: 4
          }]
        };

        const circle_config3 = {
          type: 'doughnut',
          data: circle_data3,
          options: {
            cutout: 80,
            plugins: {
              title: {
                display: true,
                text: '개인정보 처리단계별 요구사항',
                font: {
                  size: 16
                }
              },
              legend: {
                position: 'bottom'
              }
            },
            animation: false
          }
        };

        var ctx1 = document.getElementById('myChart1').getContext('2d');
        new Chart(ctx1, circle_config1);

        var ctx2 = document.getElementById('myChart2').getContext('2d');
        new Chart(ctx2, circle_config2);

        var ctx3 = document.getElementById('myChart3').getContext('2d');
        new Chart(ctx3, circle_config3);

        const labels = ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'];
        const line_data1 = {
          labels: labels,
          datasets: [{
            label: '관리체계',
            data: [23, 32, 39, 44, 50, 55, 57, 59, 60, 66, 70, 72],
            fill: false,
            borderColor: 'rgb(252,4,49)',
            tension: 0.1
          },
            {
              label: '보호대책',
              data: [20, 30, 30, 40, 50, 60, 65, 70, 75, 80, 85, 90],
              fill: false,
              borderColor: 'rgb(255,218,75)',
              tension: 0.1
            },
            {
              label: '개인정보보호',
              data: [0, 14, 28, 32, 38, 42, 50, 54, 64, 74, 89, 95],
              fill: false,
              borderColor: 'rgb(109,189,14)',
              tension: 0.1
            },
          ]
        };

        const line_config1 = {
          type: 'line',
          data: line_data1,
          options: {
            maintainAspectRatio: false, // 세로 길이 유지 X
            scales: {
              y: {
                ticks: {
                  suggestedMin: 0, // Set the minimum value
                  suggestedMax: 100, // Set the maximum value
                  stepSize: 50, // Set the interval between ticks
                  callback: function(value, index, values) {
                    return value === 0 || value === 50 || value === 100 ? value : '';
                  }
                }
              }
            },
            plugins: {
              title: {
                display: true,
                text: '월간 인증 진척률 추이',
                font: {
                  size: 24,
                },
                color: "red"
              },
              legend: {
                display: false
              }
            },
            animation: false
          }
        };

        var line_ctx1 = document.getElementById('myLineChart').getContext('2d');
        new Chart(line_ctx1, line_config1);
      });
    </script>

  </div>
</main>
</body>
</html>
